body {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(/src/pexels-mo-eid-10079452.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.container h1 {
  font-weight: 20px;
}

.form-container {
  width: 90%;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  padding: 40px 50px 60px;
  border-radius: 10px;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.input-user {
  width: 80%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  text-align: left;
  background: none;
  border-bottom: 1px solid white;
  color: white;
}

#login-btn,
#signup-btn {
  margin-top: 20px;
  width: 60%;
  border-radius: 5px;
  padding: 8px;
  border: none;
  background: #9f637b;
  color: white;
  cursor: pointer;
  transition: ease-in;
}

#login-btn:hover {
  color: #bf819a;
  background: white;
}

#signup-btn:hover {
  color: #bf819a;
  background: white;
}

#login-btn:active {
  background: #908288;
  color: white;
}

#signup-btn:active {
  background: #908288;
  color: white;
}

h1 {
  font-family: "Federo", sans-serif;
  font-size: 50px;
}
h2 {
  margin-bottom: 40px;
}
a {
  color: #9f637b;
  text-decoration: none;
}
